
{% set ipython = salt['grains.filter_by']({
    'default': {
        'pkg': 'ipython',
        'nbpkg2': 'ipython-notebook',
        'nbpkg3': 'ipython3-notebook',
    },
}, merge=salt['pillar.get']('ipython:lookup')) %}


{% set cacfg={
  "ca_name": "Example CA",
  "bits": 2048,
  "days": 3650,
  "country": "US",
  "CN": "Root CA"
  "C": "C",
  "ST": "ST",
  "L": "L",
  "O": "O",
  "OU": "OU",
  "emailAddress": "example@example.org"
} %}


{% set certcfg={
  "ca_name": cacfg["ca_name"],
  "CN": "example.org",
  "days": 365,

} %}


